<div class="burger-menu">
    <div class="menu">
      <div class="options">
        <div class="option selected">Home</div>
        <div class="option">About</div>
        <div class="option">Products</div>
        <div class="option">Contact</div>
      </div>
    </div>
    <div class="menu-click-area" onclick="document.querySelector('.burger-menu').classList.toggle('active')">
    SSSSSS
    </div>
  </div>

  <style>
   


  </style>