@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

body {
    margin: 0;
}
body,
p,
span,
button,
a,
.button,input[type='submit'],label, legend {
    /* font-family: 'Work Sans', sans-serif; */
    /* font-family: 'astoria serif'; */
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #4b4b4b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* font-family: 'Geogrotesque Expanded'; */
    font-family: 'astoria sans';
    font-style: normal;
    font-weight: 600;
    color: #1C2121;
}

h1 {
    font-size: 8.000rem;
    line-height: 120%;
}

h2 {
    font-size: 5.625rem;
    line-height: 120%;
}

h3 {
    font-size: 4.000rem;
    line-height: 120%;
}

h4 {
    font-size: 2.812rem;
    line-height: 120%;
}

h5 {
    font-size: 2.000rem;
    line-height: 120%;
}

h6 {
    font-size: 1.438rem;
    line-height: 120%;
}



input[type='color']:focus, input[type='date']:focus, input[type='datetime']:focus, input[type='datetime-local']:focus, input[type='email']:focus, input[type='month']:focus, input[type='number']:focus, input[type='password']:focus, input[type='search']:focus, input[type='tel']:focus, input[type='text']:focus, input[type='url']:focus, input[type='week']:focus, input:not([type]):focus, textarea:focus, select:focus {
    border-color: #f15a27;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 0.5; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
    opacity: 0.5; 
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
    opacity: 0.5; 
  }


.button, input[type='submit'] {
    border-radius: 0.5rem;
    height: auto;
    padding: 1rem 3rem;
    background-color: #032165;
    border: none;
    transition: all .25s ease-in-out;
    color: #fff;
    /* background-color: #fff; */
    box-shadow: 1px #000;
    box-shadow: -1px 12px 27px 0px rgb(23, 23, 23 / 20%);
    -webkit-box-shadow: -1px 12px 27px 0px rgb(23 23 23 / 20%);
    -moz-box-shadow: -1px 12px 27px 0px;
}

.button:hover,
input[type='submit']:hover,
.button:focus {
    background-color: #1C2121;
    color: #fff;
    box-shadow: none;
}

.button.button-icon {
    /* display: inline-flex; */
    align-items: center;
    animation: icon-out .5s;
    -webkit-animation: icon-out .5s;
    background-color: #fff;
    color: #1C2121;
    
}

.button.button-icon i {
    /* transform: translateX(5px); */
}

.button.button-icon:hover i {
    animation: icon-in .5s;
    -webkit-animation: icon-in .5s;
}

i.gg-chevron-right {
display: none;
}

@-webkit-keyframes icon-in {
    from {
        /* -webkit-transform: translateX(0px); */
        opacity: 0;
    }

    to {
        /* -webkit-transform: translateX(5px); */
        opacity: 1;
    }
}

@-webkit-keyframes icon-out {
    0% {
        /* -webkit-transform: translateX(5px); */
    }

    100% {
        /* -webkit-transform: translateX(0px); */
    }
}

.button-outline,
.button.button-outline {
    border: 1px solid #1C2121;
    color: #1C2121;
    background-color: #fff;
    box-shadow: 1px #1C2121;
    box-shadow: -1px 12px 27px 0px rgba(23, 23, 23, 0.20);
    -webkit-box-shadow: -1px 12px 27px 0px rgb(23 23 23 / 20%);
    -moz-box-shadow: -1px 12px 27px 0px;
}

.button.button-outline:hover {
    color: #032165;
    background-color: #fff;
    box-shadow: none;
    border: 1px solid #1C2121;
}

.one-service .circle-bg::before {
    content: " ";
    position:absolute;
    height: 20rem;
    width: 20rem;
    background-color: transparent;
    border:5rem solid #000;
    border-radius: 50%;
}

.circle-bg {
    height: 100rem;
    width: 100rem;
    background-color: transparent;
    border:10rem solid rgb(194, 194, 194);
    border-radius: 50%;
    left: -50rem;
    position: absolute;
    z-index: -1;
    opacity: 0.2;
}

.circle-bg-white {
    height: 100rem;
    width: 100rem;
    background-color: transparent;
    border:10rem solid rgb(194, 194, 194);
    border-radius: 50%;
    left: -50rem;
    position: absolute;
    z-index: -1;
    opacity: 1;
}



nav {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5%;
    height: 8rem;
    position: fixed;
    width: 100%;
    background-color: #032165;
    top: 0;
    color: #fff;
    z-index: 50;
}

.logo img {
    height: 5rem;
}

nav .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

nav .links a {
    /* font-family: 'Geogrotesque Expanded'; */
    font-family: 'astoria sans';
    font-weight: 600;
    font-size: 1.438rem;
    line-height: 120%;
    text-transform: uppercase;
    margin: 0 1rem;
    color: rgb(243, 243, 243);
    /* border-bottom: 0px solid #032165; */

}

.logo-font {
 font-family: 'Geogrotesque Expanded';
 font-weight: 500; 
}

.burger-menu .menu .options * {
    /* font-family: 'Geogrotesque Expanded'; */
    font-family: 'astoria sans';
    font-weight: 600;
    font-size: 2.438rem;
    line-height: 120%;
    text-transform: uppercase;
    /* border-bottom: 0px solid #032165; */

}

nav .links a:hover {
    color: #fff;
    transition: all .25s ease-in-out;
}

nav .links a:active {
    color: #fff;
}

nav .links .nav-active {
    color: #fff;
    position: relative;
}

nav .links .nav-active::after {
    content: " ";
    background-color: #fff;
    width: 50%;
    height: 2px;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 100%);
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #032165;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    width: auto;
    z-index: 1;
    left: -10em;
  }

  nav .dropdown .dropdown-content a {
    font-size: 14px;
    white-space: nowrap;
    display: block;
    margin: 2rem 0rem;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .five-padding {
    padding: 5% 0;
  }
  
.hero-tagline {
    color:#f15a27;
    letter-spacing: 1px;
    font-family: 'Raleway';
    z-index: 5;
}
.custom-divider {
    content: " ";
    background-color: #f15a27;
    height: 8px;
    width: 50px;
    margin-bottom: 2rem;
}

.header-image {
    min-height: 90vh;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:#fff;
    background-image: url("../images/hero_bg_1.jpg");
    background-attachment: fixed;
    background-position: center 20%;
    background-size: cover;
    background-blend-mode: darken;
    position: relative;
    overflow: hidden;
}

.header-image h1,h5 {
    z-index: 5;
}

.cta-buttons {
display: flex;
flex-direction: row;
}

.cta-buttons a {
margin-right: 2rem;
}

.header-image h1 {
    letter-spacing: 1rem;
    color: #fff;
}

.header-image-overlay {
    height: 100%;
    width: 100%;
    background-color: #1C2121;
    position:absolute;
    z-index: 0;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(3,33,101,0.6533963927367823) 45%, rgba(3,33,101,1) 92%);
}

.hero-landing {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    min-height: 65vh;
    position: relative;
}

.hero-landing::before {    
    content: "";
    background-image: url('../images/texture-bg.png');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0.05;
    z-index: -1;
}

.hero-landing.texute-left::before, .about-texture.texute-left::before {
    left: -80%;
    top: -10%;
}

.hero-landing.texute-right::before {
    left: 50%;
    top: -20%;
}



.content-wrapper {
    margin-top: 8rem;
}

/* .hero-landing div {
    width: 50%;
} */


.homepage .hero-landing .image-container {
    width: 40%;
   }
   .homepage .hero-landing .text-half {
    width: 60%;
   }

.hero-landing .image-container {
    display: flex;
}

.hero-landing .image-container img {
    max-height: 35rem;
    width: 70%;
}

.hero-landing .go-left {
    justify-content:flex-start;
}

.hero-landing .go-right {
    justify-content: flex-end;
}
.hero-landing .text-half {
    padding: 0 5% 0 10%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.second-hero {
    flex-direction: row;
}

.second-hero .image-container img {
    max-height: none;
    width: 50%;
}

.homepage .second-hero .text-half {
    padding: 0 10% 0 5%;
}

.section-title-mid-page {
display: flex;
flex-direction: column;
    justify-content: center;
    align-items: center;
}

.small-margin-top {
    margin-top: 6rem;
}

.service-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}

.service-section .section-title {
    text-align: center;
    justify-content: center;
    /* padding-top: 5%; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    background-image: url("../images/headers/services.jpg");
    background-position: center;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.service-section .section-title h3, span {
    color: #fff;
    z-index: 5;
}

.services-page .service-section .section-title p {
    color: #fff;
    z-index: 5;
}

.service-section .section-title .header-image-overlay {
z-index: 0;
top: 0;
}

.service-section .one-service {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0;
    margin: 3rem 0rem;
}

.service-section .rev-service {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.one-service div {
    max-width: 50%;
    padding: 0 5%;
    display: flex;
    flex-direction: column;

}

.one-service .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.one-service .image-container img {
    max-width: 80%;
}

.homepage .contact-cta-section .text-half p {
    width: 80%;
}

.services-page .contact-cta-section .contact-section {
    flex-direction: column;
    width: 80%;

}

.services-page .contact-cta-section .contact-section .contact-form-wrapper,textarea,.form-label,label,input, ::placeholder {
    width: 100%;
    color: #fff;
}

.services-page .contact-cta-section .contact-section .contact-form-wrapper {
    width: 100%;
    margin: 4rem 0rem;
}

.services-page .contact-cta-section .contact-section .contact-form-wrapper ::placeholder {
color: #e7e7e7;
}

.services-page .contact-cta-section .contact-section .contact-form-wrapper .button {
    background-color: #ffffff;
    color: #1C2121;
    width: auto;
}

.services-page .service-section .one-service {
    justify-content: center;
}

.services-page .service-section .one-service div {
    max-width: auto;
}

.services-page .service-section .one-service .text-half {
    width: 60%;
    padding: 0 5% 0 0;
}

.services-page .service-section .one-service .text-half.right-half {
    width: 60%;
    padding: 0 0 0 5%;
}


.services-page .service-section .one-service .image-container {
    width: 40%;
    padding: 0 0 0 5%;
}


.services-page .service-section .one-service .image-container.left-half {
    width: 40%;
    padding: 0 5% 0 0;
}

.service-body-text {
    text-align: left;
}

.service-page-cta {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.homepage .service-section .one-service .text-half {
    width: 60%;
    padding: 0 5% 0 0;
}

.homepage .service-section .one-service .image-container {
    width: 40%;
    padding: 0 0 0 5%;
}

.homepage .service-section .one-service {
    justify-content: center;
}


.homepage .service-section .one-service .image-container.left-half {
    width: 40%;
    padding: 0 5% 0 0;
}

.homepage .service-section .one-service .text-half.right-half {
    width: 60%;
    padding: 0 0 0 5%;
}

.homepage  .contact-cta-section {
    margin-top: 5%;
}

.careers-page .service-section .section-title p {
    color: #fff;
    z-index: 5;
}


.careers-page .section-title {
    text-align: center;
    padding-top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    background-image: url("../images/headers/3.jpg");
    background-position: center;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.careers-page .jobs-container .job-row .job-item {
    padding: 2% 2%;
    width: 30%;
    margin: 0 1%;
    box-shadow: 1px #000;
    box-shadow: -1px 12px 27px 0px rgb(156 156 156 / 59%);
    -webkit-box-shadow: -1px 12px 27px 0px rgb(156 156 156 / 59%);
    -moz-box-shadow: -1px 12px 27px 0px rgba(156,156,156,0.59);
    border-radius: 1rem;
    min-height: 530px;
}

.join-us-section {
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.join-us-section .team-picture-conatiner, .join-us-text-container {
    width: 50%;
    display: flex;
}

.join-us-section .team-picture-conatiner {
    justify-content: flex-end;
    padding: 2rem;
}

.join-us-section .join-us-text-container {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem 7rem;
}

.ready-join-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
}

.ready-join-section .ready-join-text-container {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.join-us-section .team-picture-conatiner img {
max-height: 400px;
}

.careers-page .jobs-container .job-row .job-item .job-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* number of lines to show */
            line-clamp: 5; 
    -webkit-box-orient: vertical;
    text-align: left;
    font-size: 14px;
}

.careers-page .job-form-cta {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    min-height: 80vh;
    background-color: #032165;
    margin-top: 5%;
    color: #fff;
    padding: 5% 0;
}


.careers-page .jobs-container .job-row .job-item  .job-header{
    min-height: 300px;
    width: 100%;
    background-position: center;
    background-size: cover;
    margin: 1rem 0rem;
}

.we-hire-title, .we-hire-description {
color:#fff
}
.careers-page .job-form-cta .we-hire {
    width: 40%;
    padding: 0 5%;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.job-form-half {
    width: 50%;
}

.job-form-half .form-container .button {
width: auto;
}

.contact-cta-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 80vh;
    background-color: #032165;
    /* margin-top: 5%; */
    color: #fff;
}

.single-careers-page .jobs-container {
width: 60%;
}

.single-careers-page .jobs-container .job-title {
    text-align: center;
}

.single-careers-page .jobs-container .job-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.single-careers-page .service-section .section-title .white-text {
z-index: 5;
}

.white-text {
    color: #fff;
}
.single-careers-page .jobs-container .job-content-container .cover-photo {
max-width: 400px;
}

.single-careers-page .jobs-container .job-content-container .job-description {
   text-align: left;
   padding: 0 5%;
   display: flex;
   flex-direction: column;
}

.single-careers-page .jobs-container .job-content-container .job-description p {
text-align: left;
}

.single-careers-page .jobs-container .job-content-container .apply-button {
text-align: center;
}

.contact-cta-section p {
    color: #fff;
}

.contact-cta-section .contact-cta-header {
    color:#fff;
}


.contact-cta-section div {
    width: 50%;
}

.contact-cta-section .image-container {
    display: flex;
    justify-content: center;
}

.contact-cta-section .image-container img {
    max-height: 35rem;
}

#wizard-tech #Charecter {
    animation: float 4s ease-in-out infinite;
}

#wizard-tech #cloud2,#cloud4, #dots_2,#dots_4 {
    animation: float 2s ease-in-out infinite;
    animation-delay: 0.5s;
}

#wizard-tech #cloud1,#cloud3,#dots,#dots_3 {
    animation: floatX 3s ease-in-out infinite;
    animation-delay: 0.5s;
}

#wizard-tech #star {
    position: absolute;
    animation: animateStar 4s ease-in-out infinite;
}

#wizard-tech #star_2 {
    position: absolute;
    animation: animateStar 2s ease-in-out infinite;
}


@keyframes float {
	0% {
		
		transform: translatey(0px);
	}
	50% {
		
		transform: translatey(-50px);
	}
	100% {
		
		transform: translatey(0px);
	}
}

@keyframes floatX {
	0% {
		
		transform: translatex(0px);
	}
	50% {
		
		transform: translatex(-50px);
	}
	100% {
		
		transform: translatex(0px);
	}
}

@keyframes animateStar {
	0% {
		
        opacity: 0;
	}
	50% {
		
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer section {
    text-align: center;
    margin-top: 0;
}

footer section p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 14px;
}

.about-page .about-us-title {
    /* margin-bottom: 5%; */
    width: 100%;
    height: 80vh;
    background-image: url("../images/headers/about.jpg");
    background-position: bottom;
    background-size: cover;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}

.about-texture {
position: relative;
}

.about-texture::before {    
    content: "";
    background-image: url('../images/texture-bg.png');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0.05;
    z-index: -1;
}


.about-us-title-mid-page {
    margin-bottom: 5%;
    margin-top: 5%;
    width: 100%;
    
}

.about-page .about-us-title h3, .custom-divider {
    color: #fff;
    z-index: 5;
}

.about-page .about-us-title .header-image-overlay {
top: 0;
z-index: 0;
}

.about-page .service-section .about-us-section {
    padding: 2.5% 0%;
}

.about-page .service-section .about-us-section .text-half {
width: 60%;
padding: 0 0% 0 5%;
}

.about-page .service-section .about-us-section .image-container {
    width: 40%;
    align-items: flex-start;
    padding: 0 5% 0 0;
    }

.about-us-2nd-section {
    background-color: #EEEEEE;
    min-height: 70vh;
}

.about-page .about-us-2nd-section .one-service .image-container {
    justify-content: flex-end;
    padding: 0 0 0 5%;
}

.about-page .about-us-2nd-section .one-service .text-half {
padding: 0;
}

.mission-vission-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    margin: 0;
    text-align: center;
    min-height: 80vh;
    padding: 15vh 0;
}

.mission-vission-section .goals-half {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.mission-vission-section .goals-text p {
    width: 70%;
    margin: 0 auto;
}

.values-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    justify-items: center;
    width: 50%;
    margin-bottom: 5%;
    text-align: center;
}

.values-row .value-item {
    width: 50%;
    box-shadow: 1px #000;
    box-shadow: -1px 12px 27px 0px rgb(156 156 156 / 59%);
    -webkit-box-shadow: -1px 12px 27px 0px rgb(156 156 156 / 59%);
    -moz-box-shadow: -1px 12px 27px 0px rgba(156,156,156,0.59);
    padding: 2.5rem;
    margin: 1rem;
    min-height: 300px;
    border-radius: 1rem;
    background-color: #fff;
}

.values-row .value-item p {
    width: 80%;
    margin: 0 auto;
}




.values-row .value-item img {
    max-width: 20%;
    margin-bottom: 5%;
}

.foucs-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 20vh;
}

.foucs-row .foucs-item {
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.foucs-row .foucs-item .foucs-number {
    display: flex;
    flex-grow: 1;
    width: 20%;
    justify-content: center;
}

.foucs-row .foucs-item p {
    width: 80%;
    margin: 0;
}

.foucs-row .foucs-item .foucs-number i {
    width: 50px;
    height: 50px;
    background: #032165;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-family: 'astoria sans';
    color: #fff;
    font-style: normal;
}

.ip-section {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.ip-section .section-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ip-section .one-service {

    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.contact-section {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    width: 80%;
    margin: 10% 0;
}

.contact-section div {
    /* width: 50%; */
}

.contact-section .contact-info-wrapper {
    display: flex;
    flex-direction: column;
}

.contact-section .contact-info-wrapper div {
width: 100%;   
}

.contact-section .contact-info-wrapper .info-item {
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
margin: 1rem 0;
}

.contact-section .contact-info-wrapper .info-item p {
    margin: 0;
    padding: 0 2rem;
}

.ip-section .office-location-wrapper {
    margin: 2.5rem auto;
    width: 100%;
}
.ip-section .office-location-wrapper iframe{
    width: 80%;
    height: 80vh;
}

.mobile-nav {
    display: none;
}

.contact-us-page .service-section .section-title p {
    color: #fff;
    z-index: 5;
}

.contact-us-page .contact-form-wrapper {
    width: 50%;
}

.contact-us-page .contact-form-wrapper form .button {
    width: auto;
}

.contact-us-page .contact-form-wrapper .center-align-text {
    text-align: center;
}

.single-services-page .service-section .section-title p {
color: #fff;
z-index: 5;
}

.single-services-page .contact-cta-section .contact-section {
    flex-direction: column;
    width: 80%;
}

.single-services-page .one-service {
    margin-bottom:5rem;
}

.single-services-page .contact-cta-section .contact-section .contact-form-wrapper {
    width: 100%;
    margin: 4rem 0rem;
}

.single-services-page .service-section .one-service {
    flex-direction: column;
}

.single-services-page .service-section .one-service .image-container {
    width: 50%;
}

.single-services-page .service-section .one-service .text-half {
    width: 80%;
    max-width: none;
    text-align: center;
    align-items: center;
}

.single-services-page .contact-cta-section .contact-section .contact-form-wrapper .button {
    background-color: #ffffff;
    color: #1C2121;
    width: auto;
}

.single-services-page .one-service .service-items {
    display: flex;
    width: 100%;
    max-width: none;
    flex-direction: column;
}

.single-services-page .one-service .service-items .service-items-row {
display: grid;
max-width: none;
justify-content: space-between;
}

.two-col-grid {
    grid-template-columns: 1fr 1fr;
}

.three-col-grid {
    grid-template-columns: 1fr 1fr 1fr;
}


.single-services-page .one-service .service-items .service-items-row .service-single-item {
    margin: 1rem 2rem;
    max-width: none;
    padding: 0;
    
}

.single-services-page .one-service .service-items .thirds-row .service-single-item {
width: 30%;
}

.single-services-page .one-service .service-items .couples-row .service-single-item {
    width: 50%;
}

.icon-service {
    margin: 2rem 0;
}
.icon-service span * {
    stroke: #f15a27;
    color: #f15a27;
}

.material-icons, .material-symbols-outlined {
    color: #f15a27;
}

.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-symbols-outlined.md-24 { font-size: 24px; }
.material-symbols-outlined.md-36 { font-size: 36px; }
.material-symbols-outlined.md-48 { font-size: 48px; }

.material-symbols-outlined {
    font-weight: 300;
}

.icon-service svg {
    height: 60px;
}




/* burger menu  */

.mobile-nav {
    position: fixed;
    width: 100vw;
    background-color: #fff;
}

.mobile-nav .logo {
    z-index: 10;
}

.gg-menu-round,.gg-close-o {
    /* This value will multiple the actual size  */
    --ggs: 2;
    display: none;
}



.burger-menu {
    background-color: transparent;
    left: 0;
    top: 0;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    width: 100%;
    display: none;
}
.active {
    display: block;
}
  .image {
    position: absolute;
  }
  .menu {
    align-items: center;
    clip-path: polygon(81.05% 9.1%, 92% 9.1%, 92% 10.1%, 81.05% 10.1%);
    color: #1C2121;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: sans-serif;
    font-size: 28px;
    height: 100%;
    position: absolute;
    top: 0;
    transition: clip-path 400ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 400ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
  }
  .active .menu {
    background-color: #fff;
    clip-path: polygon(101% -1%, 101% 101%, -1% 101%, -1% -1%);
    display: flex;
    justify-content: center;
  }
  .options {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    transform: scale(0.8);
    transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .option {
    cursor: pointer;
    margin: 8px 0;
  }
  .option.selected {
    color: #032165;
  }

  .option.sub-option {
    font-size: 70%;
    padding-left: 10px;
  }

  .active .options {
    transform: scale(2);
  }
  .x {
    pointer-events: none;
    position: absolute;
    top: 0;
  }
  .top-bars {
    stroke: #303235;
    transition: stroke 400ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .active .top-bars {
    stroke: #f2f2f2;
  }
  .bar {
    transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .bar1 {
    transform-origin: 190px 20.5px;
  }
  .bar2 {
    transform-origin: 190px 28.5px;
  }
  .active .bar1 {
    transform: translateY(8.6px) rotate(45deg);
  }
  .active .bar2 {
    transform: rotate(-45deg);
  }
  .menu-click-area {
    cursor: pointer;
    height: 40px;
    /* opacity: 0.3; */
    color: #5c6162; 
    width: 10%;
    z-index: 10;
  }

/* burger menu */

.jobs-container {
    width: 80%;
    margin-top: 5%;
}

.jobs-container .job-row {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: baseline;
    margin-bottom: 5%;
}



/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (max-width : 700px) {
/* Styles */

.desktop-nav {
    display: none;
}
.mobile-nav {
    display: flex;
}

.content-wrapper {
    z-index: 0;
}

.hero-landing {
    min-height: 100vh;
    padding-top: 20%;
}



.homepage .service-section .one-service {
    flex-direction: column;
}

.homepage .service-section .section-title {
    width: 80%;
}

.homepage .service-section .one-service div {
    max-width: none;
}

.homepage .service-section .one-service {
    margin: 0rem 0 2.5rem 0;
}

.homepage .service-section .one-service h4 {
   font-size: 120%;
   text-align: center;
}

h3 {
    font-size: 200%;
}

.button {
    width: 100%;
    border-radius: 1rem;
}

.button-icon {
    justify-content: space-between;
}

.contact-cta-section {
    flex-direction: column;
    padding: 10% 0;
}

.contact-cta-section div {
    width: 80%;
}

.contact-cta-section h3 {
    font-size: 150%;
}


.footer {
    padding: 0 10%;
}

.mission-vission-section .goals-half object {
    max-width: 50%;
    height: auto;
    margin: 2rem 0rem;
}

.mission-vission-section .goals-text p {
width: 95%;
}

.about-page .service-section .values-row {
    width: 100%;
}

.about-page .service-section .values-row .value-item p {
    width: 90%;
}
.about-page .contact-cta-section {
    margin-top: 20%;
}


.services-page .service-section .one-service {
    flex-direction: column;
}

.services-page .one-service div {
    max-width: 100%;
}

.services-page .service-section .foucs-row {
    flex-direction: column;
    margin: 0;
}

.services-page .service-section .foucs-row .foucs-item {
    flex-direction: row;
    width: 100%;
    margin: 5% 0;
}
.services-page .service-section .foucs-row .foucs-item .foucs-number {
    margin: 0;
}

.services-page .service-section .one-service {
    margin: 0;
}

.services-page .about-us-2nd-section {
    margin-top: 10%;
}



.contact-us-page #top-element .section-title {
margin: 0;
}

.contact-us-page .contact-section {
    flex-direction: column-reverse;
}

.contact-us-page .contact-section div {
    width: 100%;
    margin: 10% 0;
}

.active .options {
    transform: scale(1.5);
}



}
/* media query end  */
 
/* iPads (portrait and landscape) ----------- */
@media only screen
/* and (min-width : 768px) */
and (max-width : 1024px) {
/* Styles */

.hero-landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.hero-landing div {
    width: 80%;
}

.hero-landing .text-half {
    text-align: center;
}

.hero-landing .text-half p {
    text-align: left;
}

.service-section .one-service {
    margin: 5rem 0;
}

.one-service .image-container {
    padding: 0;
}

.one-service .image-container img {
    max-width: 100%;
}

.one-service div {
    padding: 0 0% 0 2%;
}

.service-section .about-us-section {
    flex-direction: column-reverse;
}

.about-us-2nd-section .about-us-section {
    flex-direction: column;
}

.service-section .about-us-section .text-half {
    max-width: none;
}

.service-section .about-us-section .image-container {
    max-width: 70%;
}

.about-us-2nd-section .about-us-section .image-container {
    max-width: none;
}

.service-section .about-us-section div {
    margin: 2.5rem 0;
}

.mission-vission-section {
    min-height: 60vh;
    padding: 20% 0 0 0;
    align-items: flex-start;
}

.service-section .values-row {
    width: 80%;
}

.contact-cta-section {
    min-height: 50vh
}

.foucs-row {
    align-items: baseline;
    margin: 5% 0 0 0;
    height: auto;
}

.foucs-row .foucs-item {
    flex-direction: column;
}

.foucs-row .foucs-item .foucs-number {
    margin-bottom: 2rem;
}
.foucs-row .foucs-item p {
    width: 90%;
}

.ip-section .one-service {
    width: 80%;
    text-align: left;
}

.contact-us-page .service-section .section-title p {
    max-width: 80%;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    z-index: 5;
}

.contact-us-page .header-image-overlay {
    z-index: 0;
}


.ip-section .office-location-wrapper iframe {
    height: 50vh;
}
} 
/* query end  */
 
