@font-face {
    font-family: 'Geogrotesque Expanded';
    src: url('GeogrotesqueExp-Bd.eot');
    src: local('Geogrotesque Expanded Bold'), local('GeogrotesqueExp-Bd'),
        url('GeogrotesqueExp-Bd.eot?#iefix') format('embedded-opentype'),
        url('GeogrotesqueExp-Bd.woff2') format('woff2'),
        url('GeogrotesqueExp-Bd.woff') format('woff'),
        url('GeogrotesqueExp-Bd.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Geogrotesque Expanded';
    src: url('GeogrotesqueExp-ThIt.eot');
    src: local('Geogrotesque Expanded Thin Italic'), local('GeogrotesqueExp-ThIt'),
        url('GeogrotesqueExp-ThIt.eot?#iefix') format('embedded-opentype'),
        url('GeogrotesqueExp-ThIt.woff2') format('woff2'),
        url('GeogrotesqueExp-ThIt.woff') format('woff'),
        url('GeogrotesqueExp-ThIt.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Geogrotesque Extended Semi';
    src: url('GeogrotesqueExt-SmBd.eot');
    src: local('Geogrotesque Extended Semi Bold'), local('GeogrotesqueExt-SmBd'),
        url('GeogrotesqueExt-SmBd.eot?#iefix') format('embedded-opentype'),
        url('GeogrotesqueExt-SmBd.woff2') format('woff2'),
        url('GeogrotesqueExt-SmBd.woff') format('woff'),
        url('GeogrotesqueExt-SmBd.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Geogrotesque Expanded Ultra';
    src: url('GeogrotesqueExp-UltLt.eot');
    src: local('Geogrotesque Expanded Ultra Light'), local('GeogrotesqueExp-UltLt'),
        url('GeogrotesqueExp-UltLt.eot?#iefix') format('embedded-opentype'),
        url('GeogrotesqueExp-UltLt.woff2') format('woff2'),
        url('GeogrotesqueExp-UltLt.woff') format('woff'),
        url('GeogrotesqueExp-UltLt.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Geogrotesque Expanded';
    src: url('GeogrotesqueExp-Th.eot');
    src: local('Geogrotesque Expanded Thin'), local('GeogrotesqueExp-Th'),
        url('GeogrotesqueExp-Th.eot?#iefix') format('embedded-opentype'),
        url('GeogrotesqueExp-Th.woff2') format('woff2'),
        url('GeogrotesqueExp-Th.woff') format('woff'),
        url('GeogrotesqueExp-Th.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Geogrotesque Extended';
    src: url('GeogrotesqueExt-MdIt.eot');
    src: local('Geogrotesque Extended Medium Italic'), local('GeogrotesqueExt-MdIt'),
        url('GeogrotesqueExt-MdIt.eot?#iefix') format('embedded-opentype'),
        url('GeogrotesqueExt-MdIt.woff2') format('woff2'),
        url('GeogrotesqueExt-MdIt.woff') format('woff'),
        url('GeogrotesqueExt-MdIt.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Geogrotesque Expanded';
    src: url('GeogrotesqueExp-BdIt.eot');
    src: local('Geogrotesque Expanded Bold Italic'), local('GeogrotesqueExp-BdIt'),
        url('GeogrotesqueExp-BdIt.eot?#iefix') format('embedded-opentype'),
        url('GeogrotesqueExp-BdIt.woff2') format('woff2'),
        url('GeogrotesqueExp-BdIt.woff') format('woff'),
        url('GeogrotesqueExp-BdIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Geogrotesque Expanded';
    src: url('GeogrotesqueExp-Rg.eot');
    src: local('Geogrotesque Expanded'), local('GeogrotesqueExp-Rg'),
        url('GeogrotesqueExp-Rg.eot?#iefix') format('embedded-opentype'),
        url('GeogrotesqueExp-Rg.woff2') format('woff2'),
        url('GeogrotesqueExp-Rg.woff') format('woff'),
        url('GeogrotesqueExp-Rg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geogrotesque Extended';
    src: url('GeogrotesqueExt-BdIt.eot');
    src: local('Geogrotesque Extended Bold Italic'), local('GeogrotesqueExt-BdIt'),
        url('GeogrotesqueExt-BdIt.eot?#iefix') format('embedded-opentype'),
        url('GeogrotesqueExt-BdIt.woff2') format('woff2'),
        url('GeogrotesqueExt-BdIt.woff') format('woff'),
        url('GeogrotesqueExt-BdIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Geogrotesque Expanded';
    src: url('GeogrotesqueExp-RgIt.eot');
    src: local('Geogrotesque Expanded Italic'), local('GeogrotesqueExp-RgIt'),
        url('GeogrotesqueExp-RgIt.eot?#iefix') format('embedded-opentype'),
        url('GeogrotesqueExp-RgIt.woff2') format('woff2'),
        url('GeogrotesqueExp-RgIt.woff') format('woff'),
        url('GeogrotesqueExp-RgIt.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Geogrotesque Extended Semi';
    src: url('GeogrotesqueExt-SmBdIt.eot');
    src: local('Geogrotesque Extended Semi Bold Italic'), local('GeogrotesqueExt-SmBdIt'),
        url('GeogrotesqueExt-SmBdIt.eot?#iefix') format('embedded-opentype'),
        url('GeogrotesqueExt-SmBdIt.woff2') format('woff2'),
        url('GeogrotesqueExt-SmBdIt.woff') format('woff'),
        url('GeogrotesqueExt-SmBdIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Geogrotesque Extended';
    src: url('GeogrotesqueExt-Lt.eot');
    src: local('Geogrotesque Extended Light'), local('GeogrotesqueExt-Lt'),
        url('GeogrotesqueExt-Lt.eot?#iefix') format('embedded-opentype'),
        url('GeogrotesqueExt-Lt.woff2') format('woff2'),
        url('GeogrotesqueExt-Lt.woff') format('woff'),
        url('GeogrotesqueExt-Lt.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Geogrotesque Expanded Extended';
    src: url('GeogrotesqueExt-Md.eot');
    src: local('Geogrotesque Expanded Extended Medium'), local('GeogrotesqueExt-Md'),
        url('GeogrotesqueExt-Md.eot?#iefix') format('embedded-opentype'),
        url('GeogrotesqueExt-Md.woff2') format('woff2'),
        url('GeogrotesqueExt-Md.woff') format('woff'),
        url('GeogrotesqueExt-Md.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Geogrotesque Expanded Semi';
    src: url('GeogrotesqueExp-SmBdIt.eot');
    src: local('Geogrotesque Expanded Semi Bold Italic'), local('GeogrotesqueExp-SmBdIt'),
        url('GeogrotesqueExp-SmBdIt.eot?#iefix') format('embedded-opentype'),
        url('GeogrotesqueExp-SmBdIt.woff2') format('woff2'),
        url('GeogrotesqueExp-SmBdIt.woff') format('woff'),
        url('GeogrotesqueExp-SmBdIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Geogrotesque Expanded Expanded';
    src: url('GeogrotesqueExp-LtIt.eot');
    src: local('Geogrotesque Expanded Expanded Light Italic'), local('GeogrotesqueExp-LtIt'),
        url('GeogrotesqueExp-LtIt.eot?#iefix') format('embedded-opentype'),
        url('GeogrotesqueExp-LtIt.woff2') format('woff2'),
        url('GeogrotesqueExp-LtIt.woff') format('woff'),
        url('GeogrotesqueExp-LtIt.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Geogrotesque Extended';
    src: url('GeogrotesqueExt-Bd.eot');
    src: local('Geogrotesque Extended Bold'), local('GeogrotesqueExt-Bd'),
        url('GeogrotesqueExt-Bd.eot?#iefix') format('embedded-opentype'),
        url('GeogrotesqueExt-Bd.woff2') format('woff2'),
        url('GeogrotesqueExt-Bd.woff') format('woff'),
        url('GeogrotesqueExt-Bd.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Geogrotesque Extended';
    src: url('GeogrotesqueExt-RgIt.eot');
    src: local('Geogrotesque Extended Italic'), local('GeogrotesqueExt-RgIt'),
        url('GeogrotesqueExt-RgIt.eot?#iefix') format('embedded-opentype'),
        url('GeogrotesqueExt-RgIt.woff2') format('woff2'),
        url('GeogrotesqueExt-RgIt.woff') format('woff'),
        url('GeogrotesqueExt-RgIt.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Geogrotesque Expanded';
    src: url('GeogrotesqueExp-Lt.eot');
    src: local('Geogrotesque Expanded Light'), local('GeogrotesqueExp-Lt'),
        url('GeogrotesqueExp-Lt.eot?#iefix') format('embedded-opentype'),
        url('GeogrotesqueExp-Lt.woff2') format('woff2'),
        url('GeogrotesqueExp-Lt.woff') format('woff'),
        url('GeogrotesqueExp-Lt.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Geogrotesque Expanded';
    src: url('GeogrotesqueExp-Md.eot');
    src: local('Geogrotesque Expanded Medium'), local('GeogrotesqueExp-Md'),
        url('GeogrotesqueExp-Md.eot?#iefix') format('embedded-opentype'),
        url('GeogrotesqueExp-Md.woff2') format('woff2'),
        url('GeogrotesqueExp-Md.woff') format('woff'),
        url('GeogrotesqueExp-Md.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Geogrotesque Expanded';
    src: url('GeogrotesqueExp-MdIt.eot');
    src: local('Geogrotesque Expanded Medium Italic'), local('GeogrotesqueExp-MdIt'),
        url('GeogrotesqueExp-MdIt.eot?#iefix') format('embedded-opentype'),
        url('GeogrotesqueExp-MdIt.woff2') format('woff2'),
        url('GeogrotesqueExp-MdIt.woff') format('woff'),
        url('GeogrotesqueExp-MdIt.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Geogrotesque Expanded Semi';
    src: url('GeogrotesqueExp-SmBd.eot');
    src: local('Geogrotesque Expanded Semi Bold'), local('GeogrotesqueExp-SmBd'),
        url('GeogrotesqueExp-SmBd.eot?#iefix') format('embedded-opentype'),
        url('GeogrotesqueExp-SmBd.woff2') format('woff2'),
        url('GeogrotesqueExp-SmBd.woff') format('woff'),
        url('GeogrotesqueExp-SmBd.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Geogrotesque Extended';
    src: url('GeogrotesqueExt-LtIt.eot');
    src: local('Geogrotesque Extended Light Italic'), local('GeogrotesqueExt-LtIt'),
        url('GeogrotesqueExt-LtIt.eot?#iefix') format('embedded-opentype'),
        url('GeogrotesqueExt-LtIt.woff2') format('woff2'),
        url('GeogrotesqueExt-LtIt.woff') format('woff'),
        url('GeogrotesqueExt-LtIt.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Geogrotesque Expanded Ultra';
    src: url('GeogrotesqueExp-UltLtIt.eot');
    src: local('Geogrotesque Expanded Ultra Light Italic'), local('GeogrotesqueExp-UltLtIt'),
        url('GeogrotesqueExp-UltLtIt.eot?#iefix') format('embedded-opentype'),
        url('GeogrotesqueExp-UltLtIt.woff2') format('woff2'),
        url('GeogrotesqueExp-UltLtIt.woff') format('woff'),
        url('GeogrotesqueExp-UltLtIt.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Geogrotesque Extended';
    src: url('GeogrotesqueExt-ThIt.eot');
    src: local('Geogrotesque Extended Thin Italic'), local('GeogrotesqueExt-ThIt'),
        url('GeogrotesqueExt-ThIt.eot?#iefix') format('embedded-opentype'),
        url('GeogrotesqueExt-ThIt.woff2') format('woff2'),
        url('GeogrotesqueExt-ThIt.woff') format('woff'),
        url('GeogrotesqueExt-ThIt.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Geogrotesque Extended Ultra';
    src: url('GeogrotesqueExt-UltLtIt.eot');
    src: local('Geogrotesque Extended Ultra Light Italic'), local('GeogrotesqueExt-UltLtIt'),
        url('GeogrotesqueExt-UltLtIt.eot?#iefix') format('embedded-opentype'),
        url('GeogrotesqueExt-UltLtIt.woff2') format('woff2'),
        url('GeogrotesqueExt-UltLtIt.woff') format('woff'),
        url('GeogrotesqueExt-UltLtIt.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Geogrotesque Extended';
    src: url('GeogrotesqueExt-Rg.eot');
    src: local('Geogrotesque Extended'), local('GeogrotesqueExt-Rg'),
        url('GeogrotesqueExt-Rg.eot?#iefix') format('embedded-opentype'),
        url('GeogrotesqueExt-Rg.woff2') format('woff2'),
        url('GeogrotesqueExt-Rg.woff') format('woff'),
        url('GeogrotesqueExt-Rg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geogrotesque Extended Ultra';
    src: url('GeogrotesqueExt-UltLt.eot');
    src: local('Geogrotesque Extended Ultra Light'), local('GeogrotesqueExt-UltLt'),
        url('GeogrotesqueExt-UltLt.eot?#iefix') format('embedded-opentype'),
        url('GeogrotesqueExt-UltLt.woff2') format('woff2'),
        url('GeogrotesqueExt-UltLt.woff') format('woff'),
        url('GeogrotesqueExt-UltLt.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Geogrotesque Extended';
    src: url('GeogrotesqueExt-Th.eot');
    src: local('Geogrotesque Extended Thin'), local('GeogrotesqueExt-Th'),
        url('GeogrotesqueExt-Th.eot?#iefix') format('embedded-opentype'),
        url('GeogrotesqueExt-Th.woff2') format('woff2'),
        url('GeogrotesqueExt-Th.woff') format('woff'),
        url('GeogrotesqueExt-Th.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}


@font-face {
    font-family: 'astoria sans';
    src: url('./astoria/WaldorfAstoriaSans-Regular.woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'astoria serif';
    src: url('./astoria/WaldorfAstoriaSerif-Regular.woff2');
    font-weight: 100;
    font-style: normal;
}
